@page "/"
@using Blazor.Heroicons

<PageTitle>Index</PageTitle>


<div class="bg-indigo-600 pb-32">
    <header class="py-10">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <h1 class="text-3xl font-bold tracking-tight text-white">Blazor.Heroicons</h1>
        </div>
    </header>
</div>

<main class="-mt-32">
    <div class="mx-auto max-w-7xl px-4 pb-12 sm:px-6 lg:px-8">
        <div class="rounded-lg bg-white px-5 py-6 shadow sm:px-6 grid grid-cols-3 gap-6">
            <div>
                <div>
                    <Blazor.Heroicons.Outline.HandThumbUpIcon class="h-10 w-10 mx-auto" />
                </div>
                <div class="bg-gray-100 rounded px-3 py-1 text-gray-800 text-xs mt-2 w-full">
                    &lt;Blazor.Heroicons.Outline.HandThumbUpIcon /&gt;
                </div>
            </div>
            <div>
                <div>
                    <Blazor.Heroicons.Solid.HandThumbUpIcon class="h-10 w-10 mx-auto" />
                </div>
                <div class="bg-gray-100 rounded px-3 py-1 text-gray-800 text-xs mt-2 w-full">
                    &lt;Blazor.Heroicons.Solid.HandThumbUpIcon /&gt;
                </div>
            </div>
            <div>
                <div>
                    <Blazor.Heroicons.Mini.HandThumbUpIcon class="h-10 w-10 mx-auto" />
                </div>
                <div class="bg-gray-100 rounded px-3 py-1 text-gray-800 text-xs mt-2 w-full">
                    &lt;Blazor.Heroicons.Mini.HandThumbUpIcon /&gt;
                </div>
            </div>
            <div>
                <div>
                    <Heroicon Name="sparkles" Type="Heroicon.IconType.Outline" class="h-10 w-10 mx-auto" />
                </div>
                <div class="bg-gray-100 rounded px-3 py-1 text-gray-800 text-xs mt-2 w-full">
                    &lt;Heroicon Name="sparkles" Type="Heroicon.IconType.Outline" /&gt;
                </div>
            </div>
            <div>
                <div>
                    <Heroicon Name="sparkles" Type="Heroicon.IconType.Solid" class="h-10 w-10 mx-auto" />
                </div>
                <div class="bg-gray-100 rounded px-3 py-1 text-gray-800 text-xs mt-2 w-full">
                    &lt;Heroicon Name="sparkles" Type="Heroicon.IconType.Solid" /&gt;
                </div>
            </div>
            <div>
                <div>
                    <Heroicon Name="sparkles" Type="Heroicon.IconType.Mini" class="h-10 w-10 mx-auto" />
                </div>
                <div class="bg-gray-100 rounded px-3 py-1 text-gray-800 text-xs mt-2 w-full">
                    &lt;Heroicon Name="sparkles" Type="Heroicon.IconType.Mini" /&gt;
                </div>
            </div>
        </div>
    </div>
</main>